@namespace epub "http://www.idpf.org/2007/ops";
body
{
margin-left:1em;
margin-right:1em;
}
a{text-decoration:none;color:#3344DB;}
a:active, a:hover, a:focus{color:#B11021;}
a:visited{color:#7D3F8F;}
img{
margin:0.00em;
padding:0.00em;
max-width:100%;
max-height:100%;
}
blockquote
{
margin:1em 1em 1em 1em;
padding:0em;
}
.atp_f{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.atp_web{
font-size:1em;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
nav#toc ol{
	text-indent: 0em;
	font-size: 1em;
	list-style-type: none;
	margin-left:0em;
	margin-bottom:0em;
	padding:0em;
}
nav#toc ol li{
	font-size: 1em;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	text-indent:0em;
	padding:0em;
}
.hide1{
display:none;
}
.listnone
{
padding-left:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.a1
{
text-decoration:underline;
}
.alsoby1
{
font-size:1em;
font-style:italic;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}

.bold
{
margin-top: 1.5em;
font-weight: bold;
text-transform: uppercase;
}
.bold1
{
margin-top: 1.5em;
text-transform: uppercase;
font-size:1.2em;
}
.bull
{
font-size:0.9em;
margin-top:1em;

}
.bull2
{
font-size:0.9em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:1.6em;
margin-right:0em;
text-indent:-1.6em;
text-align:left;
}
.bullist
{
list-style-type:none;
padding-left:0em; margin: 0em;
margin-top:1em;
margin-bottom:2em;
margin-left:2em;
margin-right:2em;
list-style-type: disc;
}

.bullist1
{
list-style-type:none;
padding-left:0em; margin: 0em;
margin-top:1em;
margin-bottom:2em;
margin-left:2em;
margin-right:2em;
}


.dis
{
font-size:0.90em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
font-style:normal;
}

.copy
{
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy0
{
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy1
{
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.cover
{
margin:0.00em;
text-align:center;
height:100%;
}
.ded_dp
{
font-size:1em;
font-style:italic;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
.dropcap
{
font-size:1.5em;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
font-weight:bold;
}
.epi_at
{
font-size:0.833em;
font-style:normal;
margin-top:0.5em;
margin-bottom:3em;
margin-left:4em;
margin-right:4em;
text-indent:0em;
text-align:center;
font-weight:normal;
text-transform: uppercase;
}
.epi_pb
{
font-size:0.9em;
font-style:normal;
margin-top:2em;
margin-bottom:0em;
margin-left:4em;
margin-right:4em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
.exta
{
font-size:0.90em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.extat
{
font-size:0.90em;
margin-top:1.5em;
margin-bottom:1.6em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.bq
{
font-size:0.90em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.exta1a
{
font-size:0.90em;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.exta2a
{
font-size:0.90em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.exta3
{
font-size:0.90em;
margin-top:0.2em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
}
.exti
{
font-size:0.90em;
margin-top:0em;
margin-bottom:3em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.exti3
{
font-size:0.90em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
text-align:left;
}
.extiz
{
font-size:0.90em;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
}
.extiz1
{
font-size:0.90em;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1.1em;
margin-right:1.1em;
text-indent:0em;
}
.extt
{
font-size:0.90em;
margin-top:1.5em;
margin-bottom:0.3em;
margin-left:1em;
margin-right:1em;
text-indent:0em;
text-align:center;
}
.fmbm_head
{
font-size:1.3em;
margin-top:3em;
margin-bottom:1.5em;
margin-left:0em;
font-style:normal;
margin-right:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
}

.chap_head
{
font-weight:bold;
text-align:center;
margin-top:3em;
margin-bottom:1.5em;
font-size:1.2em;

}
.indent
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;

}
.indents
{
font-size:0.9em;
margin-top:0.2em;
margin-bottom:0.2em;
margin-left:0.2em;
margin-right:0em;
text-indent:1.5em;

}
.indent1
{
font-size:1em;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:2em;

}
.indent2
{
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;

}
.indent3
{
font-size:1em;
margin-top:0em;
margin-bottom:4em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;

}
.indentz
{
font-size:1em;
margin-top:0.3em;
margin-bottom:0.3em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;

}
.index
{
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-2em;

}
.indexs
{
margin-top:0em;
margin-bottom:0em;
margin-left:0.4em;
margin-right:0em;
text-indent:-1.5em;

}
.indext
{
font-size:0.9em;
margin-top:1.2em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;

}
.int_tit
{
font-size:1.3em;
margin-top:3em;
margin-bottom:1em;
margin-left:0em;
font-weight:bold;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.noindent
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;

}
.noindent1
{
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;

}
.noindent2
{
font-size:1em;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;

}
.noindentt
{
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;

}
.none
{
list-style-type:none;
padding-left:0em; margin: 0em;
}
.none1
{
list-style-type:none;
padding-left:0em; margin: 1.5em 1em 1.5em 1em;
}
.hang
{
font-size:0.9em;
padding-left:0em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1em;
text-indent:-1em;
}
.numlist
{
list-style-type:decimal;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:1em;
}
.number
{
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:1em;
}
span.smallcaps
{
font-size: 0.833em;
text-transform: uppercase;
}
.sp2
{
padding-left:1em;
}
figure.titlepage
{
width: 100%;
margin: 1em auto;
padding: 0.5em 0.00em 0.5em 0.00em;
text-indent: 0.00em;
text-align: center;
page-break-inside: avoid;
}
.toc
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;

font-weight:normal;
}
.toc1
{
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;

font-weight:normal;
}
.tocf
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
}
.full
{
width:100%;
margin:1em auto;
padding:0.5em 0.00em 0.5em 0.00em;
text-indent:0.00em;
text-align:center;
page-break-inside:avoid;
}